<app-header></app-header>

<main class="lancamento-main-content">
  <section class="video-section">
    <iframe
      class="video-player"
      src="https://www.youtube-nocookie.com/embed/vQsryuNmsL0?controls=0&autoplay=1&modestbranding=0&loop=1&mute=1&rel=0&hd=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
      allowfullscreen
    >
    </iframe>
  </section>

  <section class="description-section">
    <p class="product-description">
      A Ford apresenta sua nova Ranger 2022, um modelo ainda mais potente e
      conectado da picape que conquistou o Brasil com sua força. Com design mais
      sofisticado, tecnologia de ponta e mais segurança, o modelo promete suprir
      todas as necessidades dos consumidores que buscam um veículo forte e
      moderno.
    </p>
  </section>

  <section class="car-selection-section">
    <ul class="car-list">
      <li *ngFor="let car of availableCars" class="car-item">
        <img
          [src]="formatImageUrl(car.image)"
          [alt]="car.nome"
          class="car-photo"
        />
        <div class="car-info-block">
          <div class="car-selection">
            <input
              type="checkbox"
              class="car-checkbox"
              [id]="'checkbox-' + car.id"
              [(ngModel)]="car.selected"
              (ngModelChange)="handleCarSelection()"
              [disabled]="carsToCompare.length >= maxCompareLimit && !car.selected"
            />
            <label [for]="'checkbox-' + car.id" class="checkbox-label"></label>
          </div>
          <div class="car-details">
            <span class="car-model-name">{{ car.nome }}</span>
            <span class="car-price">{{ formatPrice(car.preco) }}</span>
          </div>
          <div class="car-info-icon">
            <img
              src="https://api-ford-enter.onrender.com/img/info.png"
              alt="Mais informações"
            />
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="compare-action-section">
    <button type="button" class="compare-button" (click)="triggerComparisonModal()"
            [disabled]="carsToCompare.length !== maxCompareLimit">
      Comparar Carros ({{ carsToCompare.length }}/{{ maxCompareLimit }})
    </button>
  </section>

  <div class="modal" tabindex="-1" role="dialog" id="comparisonDetailModal"
       [ngClass]="{'show d-block': showComparisonModal}"
       (click)="fecharModalComparacao()">
    <div class="modal-dialog modal-xl modal-dialog-centered" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="comparisonModalLabel">Comparativo Detalhado</h5>
          <button type="button" class="btn-close btn-close-white" (click)="fecharModalComparacao()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="carsToCompare && carsToCompare.length === maxCompareLimit" class="table-responsive">
            <table class="custom-comparison-table">
              <thead>
                <tr>
                  <th>Característica</th>
                  <th *ngFor="let car of carsToCompare">
                    <img [src]="formatImageUrl(car.image)" [alt]="car.nome" class="table-header-car-image" />
                    <div>{{ car.nome }}</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of comparisonDetails">
                  <td>{{ detail.label }}</td>
                  <td *ngFor="let car of carsToCompare">
                    {{ getCarDetail(car, detail.key, detail.unit) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="close-compare-button" (click)="fecharModalComparacao()">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-backdrop fade" [ngClass]="{'show': showComparisonModal}" *ngIf="showComparisonModal"></div>
</main>

<app-footer></app-footer>