<footer>
  <nav id="social">
    <ul>
      <li><span class="redesociais">Redes Sociais</span></li>
      <li><a href="#"><img src="http://localhost:4200/img/facebook-50.png" title="Facebook" alt="Facebook"/></a></li>
      <li><a href="#"><img src="http://localhost:4200/img/youtube-squared-50.png" title="YouTube" alt="YouTube"/></a></li>
      <li><a href="#"><img src="http://localhost:4200/img/instagram-logo-50.png" title="Instagram" alt="Instagram"/></a></li>
    </ul>
  </nav>
  <div>
    <img src="http://localhost:4200/img/ford-96.png" class="footer-ford-logo" alt="Ford Logo Rodapé" />
  </div>
</footer>
