<footer class="footer">
  <div class="social">
    <span class="social-text">Redes sociais:</span>
    <a href="#" class="social-icon-link">
      <img src="http://localhost:4200/img/facebook-50.png" alt="Facebook">
    </a>
    <a href="#" class="social-icon-link">
      <img src="http://localhost:4200/img/instagram-logo-50.png" alt="Instagram">
    </a>
    <a href="#" class="social-icon-link">
      <img src="http://localhost:4200/img/youtube-squared-50.png" alt="YouTube">
    </a>
  </div>
  <div class="copyright">
    <p>&copy; Ford 2025</p>
  </div>
  <div class="footer-logo-container">
    <img class="logofordfooter" src="http://localhost:4200/img/ford-96.png" alt="Logo Ford Rodapé">
  </div>
</footer>
