
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img.img-fluid {
  max-width: 80%;
  height: auto;
}

h2 {
  color: #28a745; 
  font-weight: 600;
}

form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-floating .form-control {
  border-radius: 0.5rem;
  padding-right: 3rem;
}

.form-floating i {
  pointer-events: none;
  font-size: 1.2rem;
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}

button.btn {
  border-radius: 0.5rem;
  font-weight: 500;
  background-color: #6c757d;
  color: white;
  transition: background-color 0.3s ease;
}

button.btn:hover {
  background-color: #5a6268;
}

.text-danger {
  font-size: 0.9rem;
}

.btn-primary {
    background-color: #0033a0;
    border-color: #0033a0;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #001f5b;
    border-color: #001f5b;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}