<app-header></app-header>
<main class="main-content-area">
  <section class="carousel-section-wrapper">
    <div class="carousel-interactive-area">
        <button aria-label="Anterior" class="carousel-button prev" (click)="previousItem()">&#10094;</button>
        <div id="carousel"
             *ngIf="currentItem"
             [@carouselImageTransition]="currentIndex.toString()"
             (mouseenter)="onImageEnter()"
             (mouseleave)="onImageLeave()">
          <a [routerLink]="currentItem.url">
            <img [src]="getImageUrl(currentItem.image)" [alt]="currentItem.title" />
          </a>
        </div>
        <button aria-label="Próximo" class="carousel-button next" (click)="nextItem()">&#10095;</button>
    </div>
    <div id="carousel-title-wrapper"
         (mouseenter)="onTitleEnter()"
         (mouseleave)="onTitleLeave()">
      <div id="carousel-title"
           *ngIf="currentItem"
           [@carouselImageTransition]="currentIndex.toString()">
        <a [routerLink]="currentItem.url">
          {{ currentItem.title }}
        </a>
      </div>
      <div class="title-hover-tooltip" *ngIf="showTitleTooltip && currentItem?.tooltipText" @fadeTransition>
        <p>{{ currentItem?.tooltipText }}</p>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>