<html>
    <body>
<app-header></app-header>

<main>
  <div id="carousel"></div>
  <div id="carousel-title"></div>
</main>

<footer>
  <nav id="social">
    <ul>
      <li><span class="redesociais">Redes Sociais</span></li>
      <li><a href="#"><img src="http://localhost:4200/img/facebook-50.png" title="Facebook" /></a></li>
      <li><a href="#"><img src="http://localhost:4200/img/youtube-squared-50.png" title="YouTube" /></a></li>
      <li><a href="#"><img src="http://localhost:4200/img/instagram-logo-50.png" title="Instagram" /></a></li>
    </ul>
  </nav>
  <div>
    <img src="http://localhost:4200/img/ford-96.png" width="70" />
  </div>
</footer>
    
</body>


</html>


