<app-sidebar></app-sidebar>
<div class="page-content-with-html-bg">
  <img src="https://api-ford-enter.onrender.com/img/ranger.png" alt="Plano de Fundo Ford" class="html-background-image">
  <div class="content-overlay-container">
    <div class="welcome-card">
      <h6 class="welcome-subtitle">Sistema de dados FORD</h6>
      <hr class="welcome-hr" />
      <h5 class="welcome-title">
        <span class="welcome-link">
          Seja bem-vindo(a){{ nomeUsuario ? ', ' + nomeUsuario : '' }}!
        </span>
      </h5>
      <p class="welcome-message">Explore as funcionalidades disponíveis no painel.</p>
    </div>
  </div>
</div>